
Image_Segmentation/evaluation.ipynb
gt/DSCF4971.png
gt/DSCF4963.png
gt/DSCF4955.png
gt/DSCF4947.png
gt/DSCF4939.png
gt/DSCF4931.png
gt/DSCF4923.png
gt/DSCF4915.png
gt/DSCF4907.png
gt/DSCF4899.png
gt/DSCF4891.png
gt/DSCF4883.png
gt/DSCF4875.png
gt/DSCF4867.png
gt/DSCF4859.png
gt/DSCF4851.png
gt/DSCF4843.png
gt/DSCF4835.png
gt/DSCF4827.png
gt/DSCF4819.png
gt/DSCF4811.png
gt/DSCF4803.png
gt/DSCF4795.png
gt/DSCF4787.png
gt/DSCF4779.png
gt/DSCF4771.png
gt/DSCF4763.png
gt/DSCF4755.png
gt/DSCF4747.png
gt/DSCF4739.png
gt/DSCF4731.png
gt/DSCF4723.png
gt/DSCF4715.png
gt/DSCF4707.png
gt/DSCF4699.png
gt/DSCF4691.png
gt/DSCF4683.png
gt/DSCF4675.png
gt/DSCF4667.png
data/DSCF4667.png
